<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://inventario-inventario.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8582a360-7579-4328-aa1c-ff8b3376c6a0/resourceGroups/RG-PE-INVENTARIO/providers/Microsoft.Web/sites/inventario-inventario</ResourceId>
    <UserName>$inventario-inventario</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://inventario-inventario.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>